@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: rgb(141, 156, 156);
    width: 80vw;
    margin: auto;
}

.header-title {
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    text-align: center;
}

.header-title h1 {
    margin-bottom: 15px;
}

.header-title p {
    font-style: italic;
}

nav {
    background-color: #476786;
    padding: 15px;
}

nav > a {
    text-decoration: none;
    color: white;
    margin-right: 20px;
}

a:hover {
    background-color: white;
    color: #476786;
    font-style: bold;
    padding: 8px;
}

.container {
    display: flex;
    padding-top: 15px;
}

.main-content {
    padding: 20px;
    background-color: #dfe8f0;
    flex-grow: 3;
}

.sidebar {
    padding: 20px;
    background-color: rgb(194, 204, 216);
    flex-grow: 1;
}

.card {
    background-color: white;
    padding: 20px;
    margin: 10px 5px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgb(0,0,0,0.1); 
}

footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    width: 80vw;
}

